.form-control{
    display: block;
    height: 30px;
}

.formcontrol{
    height: 30px;
    margin-left: 14px;
}

.formControl{
    padding: 6px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 .button{
    margin-top: 2rem;
}

.p-button{
    height: 2rem;
    padding: 0px;
}

.p-button-cancle{
    margin-left: 14rem;
} 

.formControl-image{
    margin-left: 6px;
}