<div class="form">
    <form [formGroup]="createCarDetail" autocomplete="off" (ngSubmit)="formSubmit$.next()">
      <div class="formControl">
        <label for="name">Tên xe</label>
        <input type="text" placeholder="nhập tên xe" formControlName="name" required="required" class="form-control">
        <small class="p-error" *ngIf="submitted && !Item.Name">Name is required.</small>
      </div>
      <div class="formControl-image">
        <label for="image">Ảnh</label>
        <p-fileUpload name="demo[]" url="https://docs.google.com/document/d/1HWq4U1OfDeDEZ_mXw7WNKrtkWpOrKMAw_Eq-HKaO8OQ/edit" (onUpload)="onUpload()" multiple="multiple" accept="image/*" >
        <ng-template pTemplate="content">
        </ng-template>
         </p-fileUpload>
      </div>
      <div class="formControl">
        <label for="price">Nhập giá bán</label>
        <input type="number" placeholder="nhập giá bán" formControlName="price" required="required" class="form-control">
      </div>
      <div class="formControl">
        <label for="category">Nhập dòng xe: </label>
        <select class="formcontrol" formControlName="category">
            <option value="0">Suv</option>
            <option value="1">Cuv</option>
            <option value="2">Sedan</option>
        </select>
      </div>
      <div class="formControl">
        <label for="store">Địa chỉ cửa hàng</label>
        <input type="text" formControlName="store" required="required" class="form-control">
      </div>
      <div class="formControl">
        <label for="review">Nhập đánh giá</label>
        <input type="number" placeholder="đánh giá" formControlName="review" required="required" class="form-control">
      </div>
       <div class="button">
        <p-button class="p-button-submit" type="submit" label="Lưu" icon="pi pi-save" (onClick)="save()"></p-button>
        <p-button class="p-button-cancle" label="Bỏ qua" icon="pi pi-ban" (onClick)="skip()"></p-button>
      </div> 
    </form>
</div>



