<div class="card d-flex">
    <div class="left">Filter</div>
    <div class="right">
        <p-dropdown (options)="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange()" styleClass="mb-2 md:mb-0"></p-dropdown>
        <span class="p-input-icon-left mb-2 md:mb-0">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
        </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </div>
</div>